[project]
name = "catalyst-utils"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.2.6",
    "pillow>=12.0.0",
    "simpleitk>=2.5.3",
]
