# Disclaimer: save_last=True will sometimes lead to unintended behaviour, thus a separate callback for saving the
# last checkpoint is required. Specifically, after restoration a validation step with one data item is preformed from
# pytorch lightning (don't ask why). This might lead to overwriting the best_model
# (cf https://github.com/Lightning-AI/pytorch-lightning/discussions/18110)

# Pytorch ModelCheckpoint callback is overridden by the snketorch ModelCheckpoint to support clearml experiment restart
# Because by default it doesn't support the reloading of the best model score from the checkpoint
# (cf https://github.com/snkeos/ml-snketorch/issues/78)
model_checkpoint:
  _target_: snketorch.callbacks.model_checkpoint.ModelCheckpoint
  dirpath: ${hydra:runtime.output_dir}/checkpoints
  filename: best_model
  monitor: dev/Dice
  mode: max
  auto_insert_metric_name: false

model_checkpoint_last:
  _target_: snketorch.callbacks.model_checkpoint.ModelCheckpoint
  dirpath: ${hydra:runtime.output_dir}/checkpoints
  filename: last
  enable_version_counter: false
  save_on_train_epoch_end: true

save_onnxmodel:
  _target_: snketorch.callbacks.save_onnxmodel.SaveONNXModelCallback
  inferer_names:
    - evaluation
  local_output_folder: "outputs"

cost_estimation:
  _target_: snketorch.callbacks.cost_estimation.CostEstimationCallback
